html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #222;
  background-color: #EEE;
}

.container {
  display: inline-block;
  margin: 100px auto 20px auto;
  font-size: 2em;
  font-family: monospace;
  white-space: pre;
  text-align: left;
}
